{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>this is the about page</h1>
            <div class="col"> 
                <p>ad libero ipsum quas sunt.</p>  
                <p>ad libero ipsum quas sunt.</p>  
                <p>ad libero ipsum quas sunt.</p>


                <p>this came from template: {{index .StringMap "test"}}</p>

                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        your remote ip is {{index .StringMap "remote_ip"}}
                    {{else}}
                        i dont know your ip, visit <a href="/">home page</a>
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}