{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>this is the home page</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam corrupti officia nisi, vero voluptatum nesciunt sed dicta nostrum iste recusandae aut nobis earum distinctio explicabo ad libero ipsum quas sunt.</p>  
            </div>
        </div>
    </div>
{{end}}